.body{
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    font-family: "Keleti";
}

.Narrator{
    min-width: 500px;
    min-height: 250px;
    border: 15px ridge aliceblue;
}
.Narrator p {
    font-size: 22px;
    size: 99%;
    margin-left: 1%;
}

.BottomSlice{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.InputSpace{
    min-width: 300px;
    min-height: 300px;
    border: 15px ridge aliceblue;
    width: 75%;
}

.OptionSpace{
    min-width: 200px;  
    min-height: 300px;
    width: 25%;
    border: 15px ridge aliceblue;
    display: flex;
    flex-direction: column;
}

.OptionSpace button{
    margin-top: 5px;
    margin-bottom: 5px;
    color: aliceblue;
    background-color: transparent;
    border: none;
    font-family: "Keleti";
    font-size: 22px;
}

.OptionSpace button:hover{
    transform: scale(1.25);
}


@font-face {
    font-family: "Keleti";
    src: url(./font/Keleti-Regular.ttf);
}